body {
	background: #141414;
	color: grey;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.image-container {
  position: relative;
  width: 300px;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
  font-size: medium;
  height: 1cm;
  background-color: black;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.2s ease;
  opacity: 0;
  bottom: 0;
  font-size: 28px;
  padding: 28px;
  text-align: center;
}